*Data
.Rhistory
!lndnewtopo*_data
!sf_50_routers*_data
!sw_50_routers*_credit_data
!*rebalancing_data
!numPathsData
!typesOfPathsData
!schedulingAlgData
!sw_50_routers*_credit*_prob_data
sw_50_routers_credit_data*
!sf_10_routers_celer*
!all_topo_all_credit*data
!all_topo_all_credit_data
!all_topo_dag_data
!all_topo*_credit*data
!impl_sf_10_data
*.pdf
